### AIT 580 DL3 - Assignment 10
#### Student: Tuan Nguyen
#### G number: G01346722

In [2]:
import pandas as pd

data = pd.read_csv('D:/Work/GMU -US/Spring 2022/AIT 580/Nguyen_AIT580/AIT580-master/data/EmployeeAttrition.csv')
print('Completed')

Completed

In [3]:
print(data.head())

   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [4]:
#Check the head of the DataFrame.
print(data.head())

   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [10]:
#Q1: Find the number of entries/rows and columns in the data.
print('Number of rows:',len(data.index))
print('Number of columns:',len(data.columns))

Number of rows: 1470
Number of columns: 35

In [15]:
#Q2: What is the average Monthly Income?
print('Average Monthly Income:',data['MonthlyIncome'].mean())

Average Monthly Income: 6502.931292517007

In [17]:
#Q3: What is the highest amount of HourlyRate ?
print('Highest Hourly Rate:',data['HourlyRate'].max())

Highest Hourly Rate: 100

In [27]:
#Q4: What is the Department, JobRole, MaritalStatus and OverTime of EmployeeNumber 10?

#Get index value of targeted row, function return an array of 1, get 1st number of that array
x = data[data['EmployeeNumber'] == 10].index.values.astype(int)[0]

print('Department:',data.iloc[x]['Department'])
print('JobRole:',data.iloc[x]['JobRole'])
print('MaritalStatus:',data.iloc[x]['MaritalStatus'])
print('OverTime:',data.iloc[x]['OverTime'])

Department: Research & Development
JobRole: Laboratory Technician
MaritalStatus: Married
OverTime: Yes

In [37]:
#Q5: What is the Employee ID of highest MonthlyIncome paid employee?

#Get index value of targeted row
x = data[data['MonthlyIncome'] == data['MonthlyIncome'].max()].index.values.astype(int)[0]

print('Employee ID:',data.iloc[x]['EmployeeNumber'])

Employee ID: 259

In [54]:
#Q6: What is the average(mean) DailyRate group by Age for all Employees whose age is greater than 58.

grouped = data.groupby(data['Age'] > 58).agg({'DailyRate': 'mean'})
print('Mean DailyRate of employees older than 58:',grouped.iloc[1][0])

Mean DailyRate of employees older than 58: 939.2666666666667

In [57]:
#Q7: How many unique EducationField are there?

print('Number of unique EducationField:',len(data['EducationField'].unique()))

Number of unique EducationField: 6

In [91]:
#Q8: What are the top 5 most common JobRole?

grouped = data.groupby(data['JobRole']).size()
grouped = grouped.sort_values(ascending = False)
print(grouped.iloc[:5,])

JobRole
Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
dtype: int64

In [98]:
#Q9: How many JobRoles represented by less than 100 employees?

grouped = data.groupby(data['JobRole']).size()
print('Number of JobRoles has less than 100 employees:',sum(grouped < 100))
#condition returns boolean, use sum since True = 1, False = 0

Number of JobRoles has less than 100 employees: 3

In [110]:
#Q10: What is the correlation between Education and JobSatisfaction?

x = data['Education'].corr(data['JobSatisfaction'], method = 'pearson')
y = data['Education'].corr(data['JobSatisfaction'], method = 'kendall')
z = data['Education'].corr(data['JobSatisfaction'], method = 'spearman')
print('Correlation between Education and JobSatisfaction: \nPearson:',x,'\nKendall:',y,'\nSpearman:',z)
print('Result shows no correlation between the two')

Correlation between Education and JobSatisfaction:
Pearson: -0.011296116736573911
Kendall: -0.004297219184011764
Spearman: -0.005175468670271538
Result shows no correlation between the two